@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');
:root {
    --primary-color: #444444;
    --secondary-color: #94ffdf;
    --bright-color: #ffffff;
    --light-color: #dddddd;
    --grey-color: #999999;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:visited {
    color: var(--primary-color);
}


body {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
}

html {
    font-family: 'Work Sans', sans-serif;
    color: var(--primary-color);
    line-height: 1.4;
}

.collage-list, .project-list, .leadership-list, .language-list, .highlight-list {
    list-style: none;
}

.collage-list > li, .project-list > li, .leadership-list > li, .language-list > li, .highlight-list > li{
    margin-bottom: 30px;
}

ul {
    list-style: disc;
}

h4 {
    margin-top: 0;
}

.wrapper {
    background-color: var(--bright-color);
    max-width: 50vw;
    /* margin-left: auto;
    margin-right: auto; */
    margin-top: 72px;
    margin-bottom: 72px;
    padding: 72px;
    border-radius: 24px;
    box-shadow: 0 0 0 1px rgb(0 0 0/.05),0 4px 16px rgb(0 0 0/.1);
}

header {
    display: flex;
    /* justify-content: space-between; */
    border-bottom: 1px solid var(--light-color);
    align-items: center;
    margin-bottom: 48px;
    padding-bottom: 72px;
}

.contact {
    color: var(--grey-color);
}

img.avatar {
    max-width: 128px;
    object-fit: contain;
    border-radius: 100%;
    box-shadow:  12px 12px 0 var(--secondary-color);
    transition: 500ms linear; 
}

img.avatar:hover {
    transition: 500ms linear; 
    box-shadow:  12px 12px 12px 6px var(--secondary-color);
}

.personal-info {
    padding-left: 140px;
}

.name {
    text-transform: uppercase;
    background-image: linear-gradient(0deg, var(--secondary-color) 50%, transparent 50%);
}

section {
    margin-bottom: 36px;
    position: relative;
}

.section-title {
    font-weight: normal;
    text-transform: capitalize;
    background-image: linear-gradient(0deg, var(--secondary-color) 50%, transparent 50%);
    display: inline-block;
}

.collage {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.collage-sec-info {
    text-align: end;
    color: var(--grey-color);
}

.collage-name {
    margin-top: 0;
}

.collage-degree {
    margin: 0;
}

.collage-grades {
    list-style: none;
    padding: 0;
    color: var(--grey-color);
    font-style: italic;
}

.collage-grades li {
    display: inline;
}

.project-name, .leadership-name {
    display: inline-block;
    margin-bottom: 12px;
}

.project-time, .leadership-time {
    margin-left: 12px;
    color: var(--grey-color);
}

.language {
    display: flex;
    justify-content: start;
    align-items: center;
}

.language-name {
    min-width: 120px;
    font-weight: bold;
}

.language-proficiency {
    flex-basis: 28vw;
    display: flex;
    height: 0.5rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: var(--light-color);
    border-radius: .25rem;
}

.percentage-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: var(--bright-color);
    text-align: center;
    white-space: nowrap;
    background-color: var(--secondary-color);
}

footer {
    color: var(--light-color);
    padding-top: 60px;
    text-align: center;
}

.time {
    font-style: italic;
    transition: 300ms linear; 
}

.time:hover {
    color: var(--secondary-color);
    transition: 300ms linear; 

}

::selection {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.github-star {
    transition: 300ms linear;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: solid var(--secondary-color) 2px;
    border-radius: 5px;
    padding: 1px 4px;
    margin-left: 10px;
    font-size: small;
    display: inline-block;
}

.github-star svg {
    top: 2px;
    fill: var(--primary-color);
}

.github-star:hover {
    transition: 300ms linear;
    border-color: var(--primary-color);
}

.icon-github svg {
    height: 14px;
    position: relative;
}

.tag-list {
    padding: 0 40px;
}

.tag {
    border-radius: 5px;
    padding: 1px 4px;
    background-color: var(--light-color);
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.tech-social-network {
    margin-top: 10px;
}

.tech-social-network .icon {
    margin-right: 5px;
    transition: 300ms linear; 
}

.tech-social-network .icon svg:hover, .tech-social-network .icon img:hover {
    transform: scale(1.1);
    transition: 300ms linear; 
}

.tech-social-network .icon svg, .tech-social-network .icon img{
    height: 20px;
}

.icon > .tooltip {
    display: block;
    opacity: 0;
    color: var(--grey-color);
    margin-left: 30px;
    padding: 6px 10px;
    position: absolute;
    z-index: 10;
    border-radius: 10px;
    box-shadow: 0 0 0 1px rgb(0 0 0/.05),0 4px 16px rgb(0 0 0/.1);
    transition: opacity 300ms linear;
}

.icon:hover > .tooltip {
    opacity: 1;
    transition: opacity 300ms linear;
}


/* Responsive Styling */

/* Medium devices (tablets, 768px and up) */
@media (max-width: 767.98px) {
    .wrapper {
        padding: 24px;
        padding-top: 48px;
        max-width: unset !important;
        margin: 12px !important;
    }
    header {
        margin-bottom: 36px;
        padding-bottom: 48px;
    }
    .name {
        font-size: 28px;
    }
    .collage {
        flex-direction: column;
    }
    .collage-sec-info {
        text-align: start;
        margin-top: 12px;
    }
    ul {
        padding-inline-start: 18px;
    }
    h4 {
        margin-bottom: 6px;
        display: block;
    }
    .time {
        display: block;
        margin-left: 0;
        margin-bottom: 12px;
    }
    footer {
        padding-top: 36px;
    }
    .github-star {
        margin-left: 0;
    }
    .project-head {
        margin-bottom: 20px;
    }
    .tag-list {
        padding: 0;
    }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 991.98px) {
    .wrapper {
        max-width: 65vw;
        margin-top: 48px;
        margin-bottom: 48px;
    }

    header {
        flex-direction: column;
        text-align: center;
    }
    .personal-info {
        padding: 0;
        margin-top: 36px;
        white-space: nowrap;
    }
    .collage-list, .project-list, .leadership-list, .language-list, .highlight-list {
        padding-inline-start: 0;
    }
    .language-proficiency {
        flex-basis: 100%;
    }
}

 /* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1199.98px) {
    
}